{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Taisho</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<nav>
  <div class="nav">
    <div class="header-title">台</div>
    <ul class="nav-list">
      <li class="nav-entry"><a class="nav-link" href="/tsmc/">Middle Chinese database</a></li>
      <li class="nav-entry"><a class="nav-link" href="/dict/">Taishanese dictionary</a></li>
      <li class="nav-entry"><a class="nav-link" href="/dict/about/">About the dictionary</a></li>
    </ul>
  </div>
  <!--
  <ul class="subnav nav-list">
    <li class="nav-entry"><a href="/">Home</a></li>
    <!-- TODO make this about page real -->
    <li class="nav-entry"><a href="/about/">About</a></li>
  </ul>
  -->
</nav>

<div class="body">
{% block content %}{% endblock content %}
</div>

<footer>&copy; 2019.</footer>

</body>
</html>
