{% extends "base.html" %}
{% block content %}

<h2>Welcome to Taisho, the Duanfen Taishanese dictionary</h2>
<p>
Taisho aims to document the <a href="https://en.wikipedia.org/wiki/Taishanese">Taishanese</a> dialect of my parents, born and raised in <a href="https://en.wikipedia.org/wiki/Duanfen">Duanfen Village</a> in <a href="https://en.wikipedia.org/wiki/Taishan,_Guangdong">Taishan, Guangdong, China.</a> “Taishanese” and “Taishan” are not to be confused with the other <a href="https://en.wikipedia.org/wiki/Mount_Tai">Taishan</a> in Shandong, or <a href="https://en.wikipedia.org/wiki/Taiwanese_Hokkien">Taiwanese</a> spoken in the region of Taiwan.
</p>

<p>
Before discussing what this project aims to achieve, I must acknowledge and thank the creators and editors of the online dictionaries that inspired this project, notably Stephen Li’s Taishanese dictionary, words.hk and MOEDict. These fantastic dictionaries gave and continue to give me the inspiration and motivation for this dictionary project.
</p>

<p>
While the handful of Taishanese dictionaries (listed at the bottom of this page) are very detailed and make great resources already, there are some things they lack that I aim to address with this project:
</p>

<ul>
  <li>The word coverage of other dictionaries are different
    狗蝨包 (geu2 seot2 bou3-5*, a type of black steamed dumpling)
  </li>
  <li>There are regrettably no dictionaries that document the Duanfen dialect. As far as I am aware, dictionaries for Taishanese focus on the prestige dialect spoken in <a href="https://en.wikipedia.org/wiki/Taicheng_Subdistrict">Taicheng Township</a>, the capital of Taishan City.</li>
  <li>I hope to create a more polished interface, similar to what <a href="https://words.hk/">words.hk</a> has done.</li>
</ul>

<p>
  My <a href="https://ts.wong.nz/2017/duanfen-romanisation/">Duanfen Taishanese romanization</a> is used throughout.
  Currently only <strong>Traditional Chinese</strong> is supported (except where the Traditional Chinese character doesn’t exist, e.g. 㑢), because it is significantly easier converting from Traditional Chinese to Simplified Chinese than the other way around. However, I plan on adding Simplified Chinese support in the future—watch this space. :)
</p>

<p>
  There is currently a total of <strong>300</strong> entries, as of February 2nd, 2020. The goal is to one day rival Stephen Li’s 9000+ entries, though that of course will take quite some time...
</p>

<h2>What are the stuff in parentheses/round brackets?</h2>

<p>
  The labels represent a word’s part of speech, i.e. what kind of word it is.
  They are based on but are slightly different to those used in the
  <a href="http://android.pleco.com/manual/240/abc.html#pos">ABC Chinese-English Dictionary</a>.
</p>

<p>
  This dictionary is transitioning to using English for these labels, however
  there may still be entries using Chinese for this.
</p>

<ul>
  <li>
    <strong>(adj)</strong> or <strong>(形)</strong>: adjective; also called stative verb.
    Although the latter term would be more accurate, The former term is used in
    this dictionary due to its familiarity with English speakers. Although its
    function is similar to adjectives in English, they behave a lot like verbs
    hence the alternative name “stative verb”. For example, they have the sense
    of “to be” already embedded in them (e.g. 靚 liang3 means “to be beautiful”
    and not just “beautiful”). A more in-depth explanation about how
    adjectives/stative verbs work in Chinese can be found
    <a href="https://mandarinfriend.wordpress.com/2015/03/24/what-are-%E5%BD%A2%E5%AE%B9%E8%AF%8D-are-they-adjectives-or-adjectival-stative-verbs/">here</a>.
  </li>
  <li>
    <strong>(adv)</strong> or <strong>(副)</strong>: adverb.
  </li>
  <li>
    <strong>(a.p.)</strong>: aspect particle; also called aspect marker.
    A <a href="https://en.wikipedia.org/wiki/Chinese_particles">particle</a>
    that indicates the stage of completion of an action.
  </li>
  <li>
    <strong>(conj)</strong>: conjunction.
  </li>
  <li>
    <strong>(f.e.)</strong> fixed expression.
    This encompasses set expressions or idioms where there is little to no
    freedom to substitute different words, e.g. 比上不足，比下有餘 (bi2 siang6
    beot2 duk2, bi2 ha6 jeu5 ji4 “to be better off than some, though not as
    good as others”).
  </li>
  <li>
    <strong>(m.p.)</strong>: modal particle.
    A <a href="https://en.wikipedia.org/wiki/Chinese_particles">particle</a>
    (助詞) that expresses opinion, emotion or feeling, or a change of
    situation.
  </li>
  <li>
    <strong>(n)</strong> or <strong>(名)</strong>: noun.
    This includes time words (e.g. 今日 geom3 meot5,
    “today”), proper nouns (騰訊 hang4 hleon3, “Tencent”), and place words
    (廣州 gong2 dxeu3, “Guangzhou City”) but excludes pronouns.
  </li>
  <li>
    <strong>(助)</strong>: <a href="https://en.wikipedia.org/wiki/Chinese_particles">grammatical particle</a>.
    Will be replaced with more specific labels such as (m.p.) modal particle
    and (a.p.) aspect particle/marker soon.
  <li>
    <strong>(pr)</strong> or <strong>(代)</strong>: pronoun.
    For example 你 (ni3, “you (singular)”).
  </li>
  <li>
    <strong>(介)</strong>: preposition.
  </li>
  <li>
    <strong>(v)</strong> or <strong>(動)</strong>: verb.
    Note that this category doesn’t include verbs that are actually verb-object
    constructions, which are instead labeled (v.o.)
  </li>
  <li>
    <strong>(v.o.)</strong> or (動賓): verb-object construction.
    These are composed of a single-syllable verb with a single-syllable noun. A
    lot of Chinese verbs are actually verb-object constructions, and many
    English verbs translate to these fixed combinations of a verb and an
    object. These include 吃飯 (hiak3 fan6, “to eat a meal”) and 偷稅 (heu3
    sui3, “to evade taxes”). Chinese Grammar Wiki calls these separable verbs
    and explains how they work
    <a href="https://resources.allsetlearning.com/chinese/grammar/Separable_verb">here</a>.
  </li>
  <li>
    <strong>(phr)</strong>: standalone phrase or sentence. Pretty
    self-explanatory; an example is 冇錯 (mou3 tua3, “that’s correct; that’s
    right”).
  </li>
</ul>

<h2>Sources</h2>

<p>Here are the sources I mention in some of the entries:</p>

<ul>
  <li>Gan (1997):
<a href="http://xuewen.cnki.net/CJFD-YWZG199705008.html">广东粤方言人称代词的单复数形式</a>
  </li>
  <li>Stephen Li:
    <a href="https://www.stephen-li.com/TaishaneseVocabulary/Taishanese.html">Taishanese dictionary</a>
  </li>
  <li>Pearl River Delta Vol. 2:
    (TODO)
  </li>
</ul>

<p>
  To determine a term’s part of speech, I made judgments based on
  <a href="https://words.hk/">words.hk</a>,
  <a href="https://en.wikipedia.org/wiki/ABC_Chinese%E2%80%93English_Dictionary">ABC Chinese-English Dictionary</a>,
  and occasionally the other dictionaries that came with
  <a href="http://www.pleco.com/products/pleco-for-android/pricing/">Pleco’s Professional Bundle</a>.
</p>

<h2>Other Taishanese dictionaries</h2>

<p>Below are some of the Taishanese dictionaries I know about, made by great people who have spent years of time and effort writing huge numbers of entries. Go check them out!</p>

<ul>
  <li><a href="https://www.stephen-li.com/TaishaneseVocabulary/Taishanese.html">Stephen Li’s Taishanese dictionary</a></li>
  <li><a href="https://sites.fitnyc.edu/users/gene_chin/HED">Hoisanva English Dictionary</a></li>
  <li>台山方音字典, by 邓钧</li>
</ul>
{% endblock %}
