{% extends "base.html" %}
{% block content %}
<p>Hello! This is

<h2>What are the stuff in parentheses/round brackets?</h2>

<p>
  In parentheses is what part of speech a definition is. They are based on but
  are slightly different to those used in the
  <a href="http://android.pleco.com/manual/240/abc.html#pos">ABC Chinese-English Dictionary</a>.
</p>

<p>
  This dictionary is transitioning to using English for these labels, however
  there may still be entries using Chinese for this.
</p>

<ul lang="en">
  <li>
    <strong>(adj)</strong> or <strong>形</strong>: adjective; also called stative verb.
    Although the latter term would be more accurate, The former term is used in
    this dictionary due to its familiarity with English speakers. Although its
    function is similar to adjectives in English, they behave a lot like verbs
    hence the alternative name “stative verb”. For example, they have the sense
    of “to be” already embedded in them (e.g. 靚 liang3 means “to be beautiful”
    and not just “beautiful”). A more in-depth explanation about how
    adjectives/stative verbs work in Chinese can be found
    <a href="https://mandarinfriend.wordpress.com/2015/03/24/what-are-%E5%BD%A2%E5%AE%B9%E8%AF%8D-are-they-adjectives-or-adjectival-stative-verbs/">here</a>.
  </li>
  <li>
    <strong>(adv)</strong> or <strong>(副)</strong>: adverb.
  </li>
  <li>
    <strong>(a.p.)</strong>: aspect particle; also called aspect marker.
    A <a href="https://en.wikipedia.org/wiki/Chinese_particles">particle</a>
    that indicates the stage of completion of an action.
  </li>
  <li>
    <strong>(f.e.)</strong> fixed expression.
    This encompasses set expressions or idioms where there is little to no
    freedom to substitute different words, e.g. 比上不足，比下有餘 (bi2 siang6
    beot2 duk2, bi2 ha6 jeu5 ji4 “to be better off than some, though not as
    good as others”).
  </li>
  <li>
    <strong>(m.p.)</strong>: modal particle.
    A <a href="https://en.wikipedia.org/wiki/Chinese_particles">particle</a>
    (助詞) that expresses opinion, emotion or feeling, or a change of
    situation.
  </li>
  <li>
    <strong>(n)</strong> or (名): noun.
    This includes time words (e.g. 今日 geom3 meot5,
    “today”), proper nouns (騰訊 hang4 hleon3, “Tencent”), and place words
    (廣州 gong2 dxeu3, “Guangzhou City”) but excludes pronouns.
  </li>
  <li>
    <strong>(助)</strong>: <a href="https://en.wikipedia.org/wiki/Chinese_particles">grammatical particle</a>.
    Will be replaced with more specific labels such as (m.p.) modal particle
    and (a.p.) aspect particle/marker soon.
  <li>
    <strong>(pr)</strong> or <strong>(代)</strong>: pronoun.
    For example 你 (ni3, “you (singular)”).
  </li>
  <li>
    <strong>(v)</strong> or <strong>(動)</strong>: verb.
    Note that this category doesn’t include verbs that are actually verb-object
    constructions, which are instead labeled (v.o.)
  </li>
  <li>
    <strong>(v.o.)</strong> or (動賓): verb-object construction.
    These are composed of a single-syllable verb with a single-syllable noun. A
    lot of Chinese verbs are actually verb-object constructions, and many
    English verbs translate to these fixed combinations of a verb and an
    object. These include 吃飯 (hiak3 fan6, “to eat a meal”) and 偷稅 (heu3
    sui3, “to evade taxes”). Chinese Grammar Wiki calls these separable verbs
    and explains how they work
    <a href="https://resources.allsetlearning.com/chinese/grammar/Separable_verb">here</a>.
  </li>
  <li>
    <strong>(phr)</strong>: standalone phrase or sentence. Pretty
    self-explanatory; an example is 冇錯 (mou3 tua3, “that’s correct; that’s
    right”).
  </li>
</ul>

<h2>Sources</h2>

<p>Here are the sources I mention in some of the entries:</p>

<ul>
  <li>Gan (1997):
<a href="http://xuewen.cnki.net/CJFD-YWZG199705008.html">广东粤方言人称代词的单复数形式</a>
  </li>
  <li>Stephen Li:
    <a href="https://www.stephen-li.com/TaishaneseVocabulary/Taishanese.html">Taishanese dictionary</a>
  </li>
</ul>

<p>
  To determine a term’s part of speech, I made judgments based on
  <a href="https://words.hk/">words.hk</a>,
  <a href="https://en.wikipedia.org/wiki/ABC_Chinese%E2%80%93English_Dictionary">ABC Chinese-English Dictionary</a>,
  and occasionally the other dictionaries that came with
  <a href="http://www.pleco.com/products/pleco-for-android/pricing/">Pleco’s Professional Bundle</a>.
</p>
{% endblock %}
