<h2>What are the stuff in parentheses/round brackets?</h2>

<p>
  In parentheses is the word category (or categories) of a particular word.
  The word categories used on this website are listed below; they work
  virtually the same way as in Cantonese (and to a lesser but still
  considerable extent, Mandarin), and so only the differences will be described
  here.
</p>

<ul>
  <li>名 is short for 名詞, “noun”.</li>
  <li>形</li>
  <li>代</li>
  <li>助</li>
  <li>
    動 is short for 動詞, “verb”. Note that this category doesn’t include
    verbs that are actually verb-object constructions, which are instead
    labeled 動賓 (see below).
  </li>
  <li>
    動賓 (literally “verb object”) is short for 動賓結構, “verb-object
    construction”, and is composed of a single-syllable verb with a
    single-syllable noun. A lot of Chinese verbs are actually verb-object
    constructions. These include 吃飯 (hiak3 fan6, “to eat a meal”) and
    偷稅 (heu3 sui3, “to evade taxes”). Chinese Grammar Wiki calls these
    separable verbs and explains how they work
    <a href="https://resources.allsetlearning.com/chinese/grammar/Separable_verb">here</a>.
  </li>
  <li>成語</li>
</ul>

Sources:

Gan (1997):
<a href="http://xuewen.cnki.net/CJFD-YWZG199705008.html">广东粤方言人称代词的单复数形式</a>
