{% extends "base.html" %}
{% block content %}
<h1>Taishanese dictionary / 台山話詞典</h1>

<p>Search the pronunciation, Taishanese word, or English definition below:</p>

<form class="search-form" action="{% url 'tspron.search' %}" method="get">
  <input id="query" name="query" placeholder="Search for something" type="text">
  <input type="submit" value="Search / 搜索">
</form>

{% if word_list.paginator %}

{% endif %}

{% if results %}
<div class="results-list word-list">
  {% for word in results %}
  <div class="result word">
    <a class="result-link word-link" href=""><div class="result-name word-name">{{ word.word }}</div></a>
    <div class="word-pron">{{ word.pron }}</div>
    <div class="word-def">{{ word.gloss | linebreaks }}</div>
    <div class="word-note">{{ word.note }}</div>
    <div class="word-category">{{ word.category }}</div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No words found :(</p>
{% endif %}
{% endblock %}
