Top ten characters:
{% if character_list %}
  <table>
    <thead>
      <th>Char.</th>
      <th>Initial</th>
      <th>Final</th>
      <th>Tone</th>
      <th>Division</th>
      <th>Openness</th>
      <th>Note</th>
      <th>Taishanese</th>
    </thead>
    <tbody>
      {% for character in character_list %}
        {% with len=character.taishanese_set.all.count %}
          {% for taishanese in character.taishanese_set.all %}
            <tr>
              {% if forloop.counter == 1 %}
                <td rowspan="{{ len }}"><a href="{% url 'tsmc:character' character.id %}">{{ character.char }}</a></td>
                <td rowspan="{{ len }}">{{ character.initial }}</td>
                <td rowspan="{{ len }}">{{ character.final }}</td>
                <td rowspan="{{ len }}">{{ character.tone }}</td>
                <td rowspan="{{ len }}">{{ character.division }}</td>
                <td rowspan="{{ len }}">{{ character.openness }}</td>
                <td rowspan="{{ len }}">{{ character.note }}</td>
              {% endif %}
              <td>{{ taishanese }}</td>
            </tr>
          {% endfor %}
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No characters found :(</p>
{% endif %}
